*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}

body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(40, 39, 39), rgb(11, 11, 11), black);
    padding: 20px;
    //  overflow: auto;

    #mute{
        background-color: #333;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;

        i{
            font-size: 22px;
            pointer-events: none;
        }

        
    }

    #mute:active{
        scale: 0.95;
    }

    section{
        height: 100%;
        width: 430px;
        // background-color: black;
        border-radius: 10px;
        margin: auto;
        // overflow: hidden;
        

        .all-reels{
            height: 100%;
            width: 100%;
            overflow: auto;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;

            &::-webkit-scrollbar{
                display: none;
            }

           
           
            // background-color: rgb(7, 7, 7);

            .reel{
                height: 100%;
                width: 100%;
                position: relative;
                // background-color: rgb(14, 15, 14);
                overflow: hidden;
                border-radius: 15px;
                margin-bottom: 20px;
                scroll-snap-align: start;
                scroll-snap-stop: always;

                video{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .right{
                    color: white;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    position: absolute;
                    text-align: center;
                    align-items: center;
                    // justify-content: center;
                    width: 40px;
                    right: 0;
                    bottom: 12%;
                    // transform: translateX(100%);

                    h4{
                        cursor: pointer;
                    }

                    div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 50px;
                        // text-align: center;

                        h4{
                            pointer-events: none;
                        }

                        h6{
                            pointer-events: none;
                        }
                    }

                    .love{
                        color: red;
                    }

                    

                    i{
                        font-size: 25px;
                        font-weight: 500;
                    }

                    h6{
                        font-size: 15px;
                        font-weight: 500;
                    }

                }

                .bottom{
                    padding: 30px 20px;
                    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.611));
                    width: 100%;
                    position: absolute;
                    bottom: 0;

                    h3{
                        font-size: 500;
                        font-size: 20px;
                        color: white;
                    }

                    .user{

                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 20px;

                        h4{
                            color: white;
                            font-family: 500;
                            font-size: 15px;

                        }


                        img{
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        button{
                            background-color: transparent;
                            padding: 2px 4px;
                            font-size: 15px;
                            color: white;
                            font-weight: 500;
                            border-radius: 2px;
                            border: 1px solid white;
                            cursor: pointer;
                        }
                         
                    }
                }
            }     
        }
    }

    
}